/***************** VARIABLES ******************/

@color-lightBlue:     #43c4e3;
@color-mediumBlue:    #44c4e1;
@color-darkBlue:      #1c9dba;

@color-light:         #ffffff;
@color-lightGray:     #f6f6f6;
@color-mediumGray:    #d0d2d2;
@color-darkGray:      #424343;
@color-dark:          #1b1b1b;

@color-brown:         #6f412a;
@color-darkBrown:     #3a2213;

@brand-color:         #FAA52C;

@brand-font:          'Open Sans', sans-serif;


/***************** GLOBAL ******************/

body {
  background: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  font-family: @brand-font;
}

h2 {
  font-size: 25pt;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  font-size: 13pt;
  line-height: 1.6;
  margin-bottom: 15px;
}

.preamble {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 15px;
}

strong {
  font-weight: 700;
}

::selection {
  background: @color-lightBlue;
  color: #fff;
}


img {
  max-width: 100%;
  height: auto;
}


/***************** MIXINS ******************/

.transition (@prop: all, @time: 0.15s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}


/***************** SHORTCUTS ******************/

.hideMobile {
  @media (max-width: 768px) { 
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

/***************** LAYOUT ******************/


header {
  &.menu {
    position: fixed;
    border: none;
    color: @color-light;
    margin-bottom: 0;
    background: @brand-color;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.04);
    z-index: 100;
    width: 100%;
    .fixed-container {
      background: @brand-color;
    }
  .logo {
    float: left;
    img {
      margin-top: 5px;
      height: 35px;
      width: auto;
      display: inline;
      .transition(all, 0.1s, ease-in);
      &:hover {
        opacity: 0.7;
      }
    }
  }
    .share {
      float: right;
      margin: 0;
      li {
        list-style: none;
        float: right;
        a {
          .transition(all, 0.1s, ease-in);
          color: @color-light;
          font-size: 15px;
          padding: 15px 20px;
          display: inline-block;
          &:hover {
            text-decoration: none;
            color: @brand-color;
            background: @color-lightGray;
          }
        }
      }
    }
  }
}


.hero {
  padding-top: 150px;
  padding-bottom: 120px;
  text-align: center;
  .transition(padding-top, 0.1s, ease-in);
  @media (max-width: 768px) { 
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .logo {
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .creds {
    opacity: 0.2;
    .transition(all, 0.1s, ease-in);
    width: 180px;
    &:hover {
      opacity: 0.5;
    }
    @media (max-width: 768px) { 
      width: 130px;
    }
  }
}


.primary_img {
  margin-bottom: 15px;
  width: 100%;
  padding: 0 15px;
}

.text {
  @media (max-width: 768px) {
    margin-top: 0 !important;
  }
}


/***************** DEL 1 ******************/

@keyframes explosion { 
  0% { width: 0; opacity: 1; }
  100% { width: 50%; opacity: 0; }
}

@keyframes shit { 
  0% { opacity: 0; font-size: 14px; } 
  10% { opacity: 0; font-size: 14px; } 
  20% { opacity: 1; font-size: 25px; }
  100% { opacity: 0; font-size: 10px; } 
}

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

@keyframes tilt { 
  0% { transform:rotate(10deg); }
  50% { transform:rotate(16deg); }
  100% { transform:rotate(10deg); } 
}

@keyframes houston_we_have_a_problem { 
  0% { transform: rotate(12deg); }
  2% { transform: rotate(0deg); }
  4% { transform: rotate(10deg); }
  100% { width: 0px; transform: rotate(60deg); right: 200px; } 
}

@keyframes star { 
  0% { top: 0%; right: 0%; opacity: 0; }
  50% { opacity: 0.5; width: 4px; height: 4px; }
  100% { top: 100%; right: 100%; opacity: 0; }
}


.del1 {
  background: #141C26;
  padding: 60px 0 0 0;
  color: #fff;
  margin-bottom: 60px;
  .stars {
    z-index: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    &.pos1 { top: 20px; left: 0px; .star { animation: star 5s infinite linear; } }
    &.pos2 { top: 200px; left: 100px; .star { animation: star 4s infinite linear; } }
    &.pos3 { top: 100px; right: 50px; .star { animation: star 3s infinite linear; } }
    .star {
      z-index: 1;
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 10px;
      background: #fff;
    }
  }
  .iss {
    position: absolute;
    right: 15px;
    bottom: 100px;
    width: 200px;
    text-align: center;
    .explosion {
      position: absolute;
      top: 62%;
      left: 40%;
      width: 0;
      &.detonate {
        animation: explosion 0.5s infinite;
      }
    }
    &.functional {
      .transition(all, 0.1s, ease-in-out);
      animation: tilt 8s infinite;
      span {
        opacity: 0;
      }
    }
    &.houston_we_have_a_problem {
      .transition(all, 0.8s, ease-in);
      animation: houston_we_have_a_problem 5s forwards ease-in;
      span {
        opacity: 1;
        animation: shit 4s forwards;
      }
    }
    @media (max-width: 768px) {
      width: 60px;
      right: 30px;
    }
  }
  .moon {
    z-index: 1;
    animation:spin 30s linear infinite;
  }
  h1 {
    font-size: 45px !important;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(250,250,250,0.1);
    display: inline-block;
    padding-bottom: 17px;
    padding: 0px 20px 19px 20px;
  }
  .earth {
    margin-top: 80px;
    width: 100%;
  }
}



/***************** DEL 2 ******************/

@keyframes butterfly { 
  0% { top: 0px; } 
  50% { top: -5px; } 
  100% { top: 0px; } 
}
@keyframes butterfly_shadow { 
  0% { top: 5px; opacity: 0.2; } 
  50% { top: 15px; opacity: 0.05;} 
  100% { top: 5px; opacity: 0.2; } 
}

.del2 {
  margin-bottom: 30px;
  .butterfly {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 5px;
    &.active {
      cursor: inherit;
      animation: butterfly 1s infinite;
    }
  }
  .butterfly_shadow {
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    &.active {
      animation: butterfly_shadow 1s infinite;
    }
  }
  .text {
    margin-top: 110px;
  }
}




/***************** DEL 2 ******************/

@keyframes tease { 
  0% { transform:rotate(10deg); }
  5% { transform:rotate(16deg); }
  10% { transform:rotate(10deg); } 
  100% { transform:rotate(10deg); } 
}

@keyframes shake { 
  0% { transform:rotate(10deg); }
  50% { transform:rotate(20deg); }
  100% { transform:rotate(17deg); } 
}

.del3 {
  margin-bottom: 30px;
  .orange {
    position: absolute;
    left: 74%;
    bottom: 58%;
    animation: tease 3s infinite;
  }
  .orange_eaten {
    display: none;
    position: absolute;
    left: 74%;
    bottom: 58%;
    animation: shake 1s forwards;
  }
  .orange_gone {
    display: none;
    position: absolute;
    left: 74%;
    bottom: 58%;
    animation: shake 0.5s forwards;
  }
  .text {
    margin-top: 100px;
  }
}